{% extends 'base.html' %}
{% block content %}
	<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
	<!--     <link rel="stylesheet" type="text/css" href="/static/admin/css/login.css" />
	<script type="text/javascript" src="/static/angular.min.js"></script> -->
	<!-- Content -->
	<hr/>
	<h2>Pasword Change</h2>
	<div id="content" class="colM" ng-app="PaswordChangeApp" ng-controller="PaswordChangeCtrl">
		
		<h1>Password change</h1>
		<div id="content-main">
			<form method="post"><input type='hidden' name='csrfmiddlewaretoken' value='dMcz9eE0p2icYGllG4xFUFAtBwwW6vGtSOa1UeXbHZvtHDKsy6gvwHvDTchelsXR' />
			<div>
				<p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
				<fieldset class="module aligned wide">
					<div class="form-row">
						
						<label class="required" for="id_old_password">Old password:</label>
						<input autofocus="" id="id_old_password" name="old_password" type="password" required ng-model="user.oldpassword" ng-keypress="checkIfEnterKeyWasPressed($event)"/>
					</div>
					<div class="form-row">
						
						<label class="required" for="id_new_password1">New password:</label>
						<input id="id_new_password1" name="new_password1" type="password" required ng-model="user.newpassword" ng-keypress="checkIfEnterKeyWasPressed($event)"/>
						
						<p class="help"><ul><li>Your password can&#39;t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can&#39;t be a commonly used password.</li><li>Your password can&#39;t be entirely numeric.</li></ul></p>
						
					</div>
					<div class="form-row">
						<label class="required" for="id_new_password2">New password confirmation:</label>
						<input id="id_new_password2" name="new_password2" type="password" required ng-model="user.retypepassword" ng-keypress="checkIfEnterKeyWasPressed($event)"/>
					</div>
				</fieldset>
				<div class="submit-row">
					<input type="button" value="Change my password" class="default" ng-click="pasword_change()"/>
				</div>
			</div>
		</form>
		<hr/>
	</div>
	
	<br class="clear" />
</div>
<!-- END Content -->
<div id="footer"></div>
</div>
<!-- END Container -->

<script type="text/javascript">
  var app = angular.module('PaswordChangeApp', []);
  app.controller('PaswordChangeCtrl', function($scope,$http,$window) {
  //Check keypress is Enter
	  $scope.checkIfEnterKeyWasPressed = function($event){
	    var keyCode = $event.which || $event.keyCode;
	    if (keyCode === 13) {
	        $scope.pasword_change()
	    }
	  };

    $scope.pasword_change = function () {
      $http({
        method : 'POST',
        url : '/accounts/password/',
        data : $scope.user
      }).then(function(response){
        if(response.status == 203){
          $window.alert(response.data.detail);
        }
        else
          if (response.status == 202){
          	$window.alert(response.data.detail);
            window.history.back();
          }
      });
    }; 
  });
</script>

{% endblock %}